:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --black-color: #000000;
  --additional-color-section: #f5f4fa;
  --footer-color: #2f303a;
  --links-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --border-radius: 4px;
}
body {
  background: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
  display: inline-block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--black-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.decoration {
  color: var(--accent-color);
}
/* site nav */
.nav {
  display: flex;
  margin-left: 93px;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background: var(--additional-color-section);
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  padding-top: 0;
}
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
/* features */
.features {
  display: flex;
  justify-content: space-between;
}
.features-title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-item {
  width: 270px;
  background: #fff;
}
.fearures-box {
  width: 270px;
  height: 120px;
  background: var(--additional-color-section);
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
}

/* we-do */
.we-do {
  display: flex;
  justify-content: space-between;
}
.box-item {
  position: relative;
}
.we-do-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  pointer-events: none;
}
.box-text {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
}

/* team */
.team-section {
  background: var(--additional-color-section);
}
.team {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  display: flex;
  justify-content: space-between;
}
.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item {
  background: var(--primary-white-color);
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
.team-text {
  margin-bottom: 16px;
}
.team-social {
  display: flex;
  justify-content: center;
}
.team-social-list + .team-social-list {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background: var(--accent-color);
  fill: var(--primary-white-color);
}
/* clients */
.clients {
  display: flex;
  justify-content: space-between;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: var(--border-radius);
  fill: var(--icon-color);

  display: flex;
  align-items: center;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* footer */
.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-contacts,
.join {
  margin-right: 70px;
}
.footer-logo {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
  margin-bottom: 9px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.list-link {
  color: var(--links-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover,
.list-link:focus {
  color: var(--accent-color);
}

.join-title,
.form-title {
  color: var(--primary-white-color);
  line-height: 1.142;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.join-social {
  display: flex;
}
.join-social-list + .join-social-list {
  margin-left: 10px;
}
.join-social-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-social-link:hover,
.join-social-link:focus {
  background: var(--accent-color);
}

/* footer-form */
.form-input {
  display: inline-block;
  background: transparent;
  width: 358px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  margin-right: 10px;
}
.form-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  background: var(--accent-color);
  color: var(--primary-white-color);
}
.form-button::after {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  background-image: url('../img/icons/send.svg');
}
.input {
  display: flex;
}
/* button */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius);
}
.button.primary {
  background: var(--accent-color);
  color: var(--primary-white-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background: #188ce8;
}
.button.secondary {
  color: var(--title-text-color);
  background: var(--additional-color-section);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* portfolio */
.btn {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.btn-item {
  margin-right: 8px;
}
.btn-item:nth-child(5n) {
  margin-right: 0;
}
/* progects */
.progects {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}
.progects-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects-link:hover,
.progects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.progect-img-wrap {
  position: relative;
  overflow: hidden;
}
.progects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  overflow: auto;

  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects-link:hover .progects-overlay,
.progects-link:focus .progects-overlay {
  transform: translateY(0%);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
.progects-wrap {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.progects-title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.progects-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.modal-form {
  width: 448px;
}

.modal-input {
  position: relative;
  display: block;
  width: 100%;
  padding: 11px;
  background: transparent;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
}
.form-field {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
.modal-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
